body {
  font-family: monospace;
  color: darkcyan;
}

h2{
  text-align: center;
}

form {
  margin: 0 auto;
  display: table;
  border: 1px solid #dedcdc;
  padding: 40px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin-bottom: 10px;
}

input, select {
  margin-left: 5%;
}

button {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #009688;
  color: darkcyan;
  font-family: monospace;
  text-transform: uppercase;
  border-radius: 4px;
}

button:active {
  background-color: #009688;
  border: none !important;
  color: #fff;
}

.sortidas {
  justify-content: flex-start;
}
